@import "tailwindcss";
@plugin "daisyui"; 


.dancing-script-font {
  font-family: "Dancing Script, cursive";
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.tagesschrift-regular {
  font-family: "Tagesschrift", system-ui;
  font-weight: normal;
  font-style: normal;
}

a.active {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
  transition: all 0.3s ease;
   transform: scale(1.2);
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}


html.light{
  --bg-color: white;
  --text-color: black
    background-color: var(--bg-color);
  color: var(--text-color);
}

html.synthwave {
  --bg-color: #000000;
  --text-color: white;
  background-color: var(--bg-color);
  color: var(--text-color);
}